################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/CloStyle/appsettings.json
/CloStyle.Infrastructure/Seeders/CloStyleSeeder.cs
