@using CloStyle.Application.CloStyle.Commands.AddBrand
@model AddBrandCommand

<h1>Add new brand</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Brand/Add" method="post" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label class="control-label" asp-for="Name">Name</label>
                <input class="form-control" type="text" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Brand Image (optional)</label>
                <input class="form-control" type="file" name="imageFile" accept="image/*" />
                <span asp-validation-for="ImgPath" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <input type="submit" value="Add" class="btn btn-primary my-2" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
