@model IEnumerable<CloStyle.Application.CloStyle.BrandDto>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Manage brands</h1>

<p>
    <a asp-action="Add" class="btn btn-primary">Add New Brand</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card m-3" style="width: 18rem;">
            <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
                <img src="@item.ImgPath" class="card-img-top" alt="Image of @item.Name" style="max-height: 100%; max-width: 100%; object-fit: cover;">
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">@item.Name</h5>
                <div class="d-flex justify-content-around">
                    <a asp-action="Edit" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="ViewProducts" class="btn btn-secondary btn-sm">Products</a>
                    <a asp-action="Delete" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </div>
        </div>
    }
</div>



